<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= pageTitle %> &#45; Task Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard-styles.css">
</head>
<body>
  <div class="container">

    <div class="col left">
      
      <div class="profile-container">
        <div>
          <img src="/images/profile-pic.jpeg">
          <span><%= username %></span>
        </div>
        <i class="fas fa-search"></i>
      </div>
      
      <div class="due-date-container list-container">
        <div class="todays-date">
          <span id="date"></span>
        </div>
        <div>
          <i class="fas fa-calendar"></i>
          <span>Today</span>
        </div>
        <div>
          <i class="fas fa-calendar-alt"></i>
          <span>Next 7 Days</span>
        </div>
        <div>
          <i class="fas fa-archive"></i>
          <span>Inbox</span>
        </div>
      </div>
      
      <div class="create-lists-container list-container">
        <div>
          <span>Your Lists</span>
        </div>
        <div>
          <i class="fas fa-bars"></i>
          <span>Example List</span>
        </div>
        <div>
          <i class="fas fa-plus-circle"></i>
          <span>Add List</span>          
        </div>
      </div>

      <div>Completed/Trash</div>
    </div>

    <div class="col center">
      <p>center</p>
    </div>
    <div class="col right">
      <p>right</p>
    </div>
  </div>
<script type="text/javascript" src="/javascripts/dashboard-script.js"></script>
</body>
</html>