<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Task Manager App</h1>
    <p>Welcome to the Task Manager App Homepage</p>
    <p>Click <button>Here</button> to login or signup</p>
    <script type="text/javascript" src="/javascripts/homepage-script.js"></script>
  </body>
</html>
