<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Task Manager App</title>
  <link rel='stylesheet' href='/stylesheets/homepage-styles.css' />
</head>
<body>
  <div class="homepage-container">
    <h1 class="site-name">Task Manager App</h1>
    <p>Welcome to the Task Manager App</p>
    <div><button class="login">Login</button> or <button class="signup">Sign Up</button></div>
  </div>
  <script type="text/javascript" src="/javascripts/homepage-script.js"></script>
</body>
</html>
