@import url('../font-awesome/css/subset.css');
@import url('./normalize.css');

body {
  /*padding: 75px 300px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*border: 1px solid black;*/
  margin: 0 auto;
  max-width: 1500px;
  color: #434343;
  /*box-sizing: border-box;*/
}

.container {
  display: grid;
  grid-template-columns: 18% 46% 36%;
}

.col {
  /*border: 1px solid green;*/
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgba(44,66,118,.06);
  padding: 16px;
  height: 100vh;
}

.center {
  grid-column-start: 2;
  grid-column-end: 3;
}

.right {
  grid-column-start: 3;
  grid-column-end: 4;
}

img {
  width: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.profile-container > span {
  display: inline-block;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile-container > div {
  display: flex;
  align-items: center;
}

.fa-search {
  display: inline-block;
  font-size: 16px;
  color: #aaa;
}

.list-container > div {
  padding: 8px;
  margin-bottom: 6px;
}

.list-container i {
  margin-right: 8px;
}

.due-date-container {
  position: relative;
}

i {
  font-size: 18px;
  color: #7a7a7a;
}

.todays-date {
  padding: 0;
  margin: 0;
  position: absolute;
  color: #fff;
  font-size: 10px;
  top: 7px;
  left: 2px;
}

.create-lists-container {
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.create-lists-container div:first-child {
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.create-lists-container div:first-child span {
  margin-right: 10px;
}

.completed-lists-container {
  margin-top: 16px;
}

/* Center */

.center {
  padding: 24px;
}

.center h1 {
  margin-top: 0;
  font-weight: 100;
  font-size: 24px;
}

.center input {
  border: none;
  background-color: aliceblue;
  width: 100%;
  height: 42px;
  padding: 5px 5px 5px 12px;
  border-radius: 5px;
  box-sizing: border-box;
}

.center input::placeholder {
  color: #ababab;
}

.site-icon {
  text-align: center;
  margin-top: 80px;
}

.site-icon i {
  font-size: 120px;
  color: #cacaca;
}

.site-icon p {
  margin-top: 24px;
  color: #aaa;
}

/* #addListBox */

#addListBox {
  width: 400px;
  position: absolute;
  top: 100px;
  /* puts the left edge at the center of the page */
  left: 50%;
  /* pulls the left edge 1/2 of the width back to the left, centering the el */
  margin-left: -200px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 38px;
}

.listBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addListBox h2 {
  margin: 0;
}

#close {
  color: #ababab;
  font-size: 16px;
  cursor: pointer;
}

#addListBox > input {
  width: 100%;
  height: 38px;
  padding-left: 12px;
  margin-top: 18px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .14);
  box-sizing: border-box;
}

.toggleButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}

.toggleButtons button {
  padding: 6px;
  width: 100px;
  margin-left: 8px;
}

.btn {
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 5px;
  cursor: pointer;
}

.btn-close {
  background-color: rgba(46,73,136,.08);
  color: #444;
}

.btn-save {
  background-color: rgba(75,111,222,.74);
  color: #fff;
}