@import url('../font-awesome/css/all.min.css');
@import url('./normalize.css');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  color: #434343;
}

img {
  width: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

i {
  font-size: 18px;
  color: #7a7a7a;
}

.container {
  display: grid;
  grid-template-columns: 16% 46% 38%;
}

.col {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

#leftCol {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgba(44,66,118,.06);
  padding: 16px;
  height: 100vh;
}

#centerCol {
  grid-column-start: 2;
  grid-column-end: 3;
}

#rightCol {
  grid-column-start: 3;
  grid-column-end: 4;
}

#profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

#profileContainer > span {
  display: inline-block;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#profileContainer > div {
  display: flex;
  align-items: center;
}

.fa-search {
  display: inline-block;
  font-size: 16px;
  color: #aaa;
}

.list-container > div {
  padding: 14px 8px;
  cursor: pointer;
}

.list-container i {
  margin-right: 8px;
}

#taskListNavContainer {
  position: relative;
}

#todaysDate {
  margin: 0;
  position: absolute;
  color: #fff;
  font-size: 10px;
  top: 7px;
  left: 2px;
}

#addListButton {
  border-bottom: 1px solid rgba(0,0,0,.08);
}

#listsHeading {
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 16px;
  cursor: default;
}

#listsHeading span {
  margin-right: 10px;
}

/* Center */

#centerCol {
  padding: 24px;
}

#centerCol h1 {
  margin: 0;
  font-weight: 100;
  font-size: 24px;
}

#centerCol input {
  border: none;
  background-color: aliceblue;
  width: 100%;
  height: 42px;
  padding: 5px 5px 5px 12px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 16px;
}

#centerCol input::placeholder {
  color: #ababab;
}

#siteIcon {
  text-align: center;
  margin-top: 80px;
}

#siteIcon i {
  font-size: 120px;
  color: #cacaca;
}

#siteIcon p {
  margin-top: 24px;
  color: #aaa;
}

.toggle-box {
  width: 400px;
  position: absolute;
  top: 100px;
  /* puts the left edge at the center of the page */
  left: 50%;
  /* pulls the left edge 1/2 of the width back to the left, centering the el */
  margin-left: -200px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 38px;
  display: none;
}

.edit-box {
  width: auto;
  margin: 0;
  top: 60px;
  left: 55%;
  padding: 0 12px;
}

.edit-box ul {
  list-style-type: none;
  padding: 0;
}

.edit-box a {
  text-decoration: none;
  color: #6a6a6a;
}

.edit-box i {
  margin-right: 12px;
}

/*** Animations ***/

.fade-in {
  animation: 100ms ease-in fadeIn;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: 100ms ease-in fadeOut;
  opacity: 0;
  display: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.is-paused {
  animation-play-state: paused;
}

.list-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addListDialogBox h2 {
  margin: 0;
}

#close {
  color: #ababab;
  font-size: 16px;
  cursor: pointer;
}

#addListDialogBox > input {
  width: 100%;
  height: 38px;
  padding-left: 12px;
  margin-top: 18px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .14);
  box-sizing: border-box;
}

.toggle-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}

.toggle-buttons button {
  padding: 6px;
  width: 100px;
  margin-left: 8px;
}

.btn {
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 5px;
  cursor: pointer;
}

.btn-close {
  background-color: rgba(46,73,136,.08);
  color: #444;
}

.btn-save {
  background-color: rgba(75,111,222,.74);
  color: #fff;
}

.btn-delete {
  background-color: #FA0018;
  color: #fff;
}

.task-list-nav {
  text-decoration: none;
  color: inherit;
  /* Need a bigger target to click on for nav */
  display: inline-block;
  width: 100%;
}

.task-list-nav:visited {
  color: inherit;
}

.task-list-nav-item:hover {
  background-color: rgba(75,111,222,.06);
}

.task-list-nav-item.active {
  background-color: rgba(75,111,222,.12);
  font-weight: bold;
}

.active .num-tasks {
  font-weight: bold;
  color: #666;
}

.task-container {
  list-style-type: none;
  padding: 0;
}

.task-container i {
  margin-right: 10px;
}

.task-container li:hover {
  background-color: rgba(44,66,118,.06);
}

.task-container li {
  padding: 12px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  position: relative;
}

.task-container span {
  outline: none;
}

.active-task {
  background-color: rgba(75,111,222,.12);
  border-radius: 5px;
  border-bottom: none;
}

#incompleteTaskContainer {
  margin-top: 24px;
}

.ellipsis {
  position: absolute;
  right: -15px;
}

.task-ellipsis {
  display: none;
  /* makes a bigger target for clicking */
  height: 30px;
}

.task-container li:hover .task-ellipsis {
  display: inline-block;
}

.task-ellipsis:hover {
  display: inline-block;
}

.task-list-nav-item .ellipsis {
  right: 10px;
}

.task-list-nav-item:hover .ellipsis {
  display: inline-block;
}

.num-tasks {
  position: absolute;
  right: 10px;
  margin-top: 3px;
  font-size: 12px;
  color: #ababab;
}

.user-created-task-list:hover .num-tasks {
  display: none;
}

#completedTaskContainer,
#completedTaskContainer i {
  color: #ababab;
}

#completedTaskToggle {
  margin-top: 24px;
  padding: 0 12px;
  cursor: pointer;
  position: relative;
}

#completedTaskToggle,
#completedTaskToggle i {
  color: #ababab;
}

#completedTaskToggle i {
  width: 8px;
}

i.fas.fa-caret-right {
  margin-left: 4px;
}

#completedTaskToggle span {
  position: absolute;
  left: 33px;
  top: 2px;
}

#completedTaskToggle.tasks-hidden {
  border-bottom: 1px solid #ababab;
  padding-bottom: 12px;
}

.hidden {
  display: none;
}

.task-container li.not-allowed {
  cursor: not-allowed;
  background-color: transparent;
}

.task-container li.not-allowed:hover .task-ellipsis {
  display: none;
}

.page-title-container {
  display: flex;
  justify-content: space-between;
}

.page-title-container .ellipsis {
  /* Line-up the ellipsis with the Task ellpsis */
  position: static;
  cursor: pointer;
  align-self: center;
}

.page-title-container i {
  font-size: 16px;
}

#dumpsterIcon {
  cursor: pointer;
}

table {
  width: 100%;
  text-align: center;
}

thead {
  color: #ababab;
}

tbody {
  cursor: pointer;
}

td, th {
  padding: 8px;
  width: 25px;
  height: 25px;
}

td:hover {
  background-color: blue;
  border-radius: 100%;
  color: #fff;
}

.current-date {
  background-color: #ddd;
  border-radius: 100%;
  color: blue;
}

.grey-out {
  color: #ababab;
}

#calendarDialogBox {
  padding: 18px;
}

#calendarNav {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

#calendarNav i {
  margin: 0;
}

#calendarNav span:first-of-type {
  margin-left: 24px;
} 

#calendarNav span:last-of-type {
  margin-right: 24px;
}

@media (max-width: 1024px) {

  .container {
    grid-template-columns: 0% 60% 40%;
  }

  #leftCol {
    display: none;
  }

}

@media (max-width: 800px) {
  
  #rightCol {
    display: none;
  }

  .container {
    grid-template-columns: 0% 100% 0%;
  }

}